:root {
  --color-primary: #13141f;
  --color-blueI: #334269;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}